.spacer {
    flex: 1 2 auto;
  }
  .mat-button{
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 18px;
      font-weight: 500;
  }
  form {
      display: block;
      margin-left: 20em;
  }
  
  .searchbox {
      border: none;
      border-radius: 2px;
      background-color: #fafafa;
      padding: 5px 10px;
      height: 50%;
      width: 400px;
  }
  [type=search] {
      outline-offset: -2px;
      
  }
  button, input {
      overflow: visible;
  }
  button, input, optgroup, select, textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
  }
  *, :after, :before {
      box-sizing: border-box;
  }